<a href="https://colab.research.google.com/github/TungSoPon/bsc_dpdm22/blob/main/16_12_65.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [230]:
import pandas as pd

In [231]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [232]:
data = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='บ้าน',skiprows=0)

In [233]:
home1 = data[data['ID ผู้ประเมิน']==1]

In [234]:
home2 = data[data['ID ผู้ประเมิน']==2]

In [235]:
home2['ประเมิน1'] = home2['post id'].map(home1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

<ipython-input-235-dabaee92263d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home2['ประเมิน1'] = home2['post id'].map(home1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

In [236]:
home2.rename(columns = {'ประเมินราคาซื้อ-ขาย' : 'ประเมิน2'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [237]:
home = home2[['post id', 'ราคาทรัพย์', 'ประเมิน1', 'ประเมิน2']]
home.head()

                               post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1   https://nayoo.co/khonkaen/posts/25   2700000.0  2500000.0  2700000.0
3   https://nayoo.co/khonkaen/posts/33   2600000.0  2200000.0  2400000.0
5  https://nayoo.co/khonkaen/posts/495   5900000.0  5000000.0  9000000.0
7  https://nayoo.co/khonkaen/posts/564   4400000.0  3500000.0  3700000.0
9  https://nayoo.co/khonkaen/posts/566   2750000.0  2500000.0  2500000.0

In [238]:
home.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2       True
dtype: bool

In [239]:
home = home.dropna(subset=['ประเมิน2'])

In [240]:
from IPython.core.compilerop import check_linecache_ipython
check_linecache_ipython

In [241]:
data1 = home[['ประเมิน1']]
data1

      ประเมิน1
1    2500000.0
3    2200000.0
5    5000000.0
7    3500000.0
9    2500000.0
..         ...
185  4500000.0
186  5200000.0
187  3600000.0
188  4000000.0
189  1200000.0

[89 rows x 1 columns]

In [242]:
data1.rename(columns = {'ประเมิน1' : 'ประเมิน'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [243]:
data2 = home[['ประเมิน2']]
data2

      ประเมิน2
1    2700000.0
3    2400000.0
5    9000000.0
7    3700000.0
9    2500000.0
..         ...
185  5000000.0
186  7400000.0
187  2500000.0
188  3900000.0
189  1400000.0

[89 rows x 1 columns]

In [244]:
data2.rename(columns = {'ประเมิน2' : 'ประเมิน'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [245]:
data2.columns

Index(['ประเมิน'], dtype='object')

In [246]:
data1.columns

Index(['ประเมิน'], dtype='object')

In [247]:
df1 = data2.div(data1, level=1, fill_value=0)
df1

      ประเมิน
1    1.080000
3    1.090909
5    1.800000
7    1.057143
9    1.000000
..        ...
185  1.111111
186  1.423077
187  0.694444
188  0.975000
189  1.166667

[89 rows x 1 columns]

In [248]:
df1.rename(columns = {'ประเมิน' : 'check1'}, inplace = True)

In [249]:
df1.columns

Index(['check1'], dtype='object')

In [250]:
df2 = data1.div(data2, level=1, fill_value=0)
df2

      ประเมิน
1    0.925926
3    0.916667
5    0.555556
7    0.945946
9    1.000000
..        ...
185  0.900000
186  0.702703
187  1.440000
188  1.025641
189  0.857143

[89 rows x 1 columns]

In [251]:
df2.rename(columns = {'ประเมิน' : 'check2'}, inplace = True)

In [252]:
df2.columns

Index(['check2'], dtype='object')

In [253]:
df2

       check2
1    0.925926
3    0.916667
5    0.555556
7    0.945946
9    1.000000
..        ...
185  0.900000
186  0.702703
187  1.440000
188  1.025641
189  0.857143

[89 rows x 1 columns]

In [254]:
home['check1'] = df1
home

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0,1.090909
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.800000
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0,1.057143
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.000000
...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0,5000000.0,1.111111
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.423077
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,0.694444
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,0.975000
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0,1.166667

In [255]:
home['check2'] = df2
home

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000,0.925926
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0,1.090909,0.916667
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.800000,0.555556
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0,1.057143,0.945946
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.000000,1.000000
...,...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0,5000000.0,1.111111,0.900000
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.423077,0.702703
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,0.694444,1.440000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,0.975000,1.025641
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0,1.166667,0.857143

In [256]:
home.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
75,https://nayoo.co/khonkaen/posts/1,390000.0,600000.0,1300000.0,2.166667,0.461538
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.800000,0.555556
13,https://nayoo.co/khonkaen/posts/597,5712000.0,4200000.0,6000000.0,1.428571,0.700000
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.423077,0.702703
39,https://nayoo.co/khonkaen/posts/1070,880000.0,700000.0,990000.0,1.414286,0.707071
...,...,...,...,...,...,...
63,https://nayoo.co/khonkaen/posts/2033,1200000.0,1200000.0,1000000.0,0.833333,1.200000
57,https://nayoo.co/khonkaen/posts/1895,1200000.0,1500000.0,1200000.0,0.800000,1.250000
101,https://nayoo.co/khonkaen/posts/6010,2860000.0,4200000.0,3000000.0,0.714286,1.400000
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,0.694444,1.440000
177,https://nayoo.co/khonkaen/posts/19450,2100000.0,3200000.0,2200000.0,0.687500,1.454545